@import url('@eternagame/design-system-tokens/dist/tokens.css');
/* @import url('@inkline/inkline/inkline.css'); */
@import url('./inklineOverrides.css');

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  /* text-align: center; */
  /* color: var(--neutrals-black); */
  /* margin-top: 60px; */
}
