@import url('@inkline/inkline/inkline.css');
@import url('@eternagame/design-system-tokens/tokens.css');
@import url('./inklineOverrides.css');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
